<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="./img/favicon_ZBt_icon.ico"/>
        <link rel="stylesheet" href="./css/style.css"/>
        <link rel="stylesheet" href="./css/header_style.css"/>
        <title>Login</title>
    </head>
    <body>
        <%- include('___header.ejs') %>
        <div id="login_form_container">
            <h1> You can not log-in for 24 hours </h1>
            <h4>Click here to <a href="/">Login</a> with other account</h4> 
        </div>
        <script src="./js/home_script.js"></script>
    </body>
</html>